<center>
<h1>Ready Up</h1>
<img src="https://cdn.discordapp.com/attachments/689668367761539113/701559922613026846/Ready_Up_Logo.gif"></img>
</br>
<%= form_for :profile do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<p>
  <% if current_user %>
    Logged in as <%= current_user.name %>
    <%= link_to "Log Out", logout_path %>
  <% else %>
    <%= link_to "Sign up", signup_path %> or
    <%= link_to "Log in", login_path %>
  <% end %>
</p>

</center>